.itemCard {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: white;
}

.itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.itemCard:hover > .cardRemoveIcon {
    opacity: 1;
}

.cardRemoveIcon {
    position: absolute;
    right: -20px;
    top: -12px;
    color: red;
    font-size: 140%;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.cardItemImage {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.cardItemContent {
    padding: 10px 16px 4px 16px;
}

.cardItemName {
    overflow: hidden;
    margin: 0;
}

.cardItemStatus {
    font-size: 80%;
    margin: 4px 0 0 0;
}

.broken {
    color: crimson;
}

.cardItemLocation {
    font-size: 80%;
    text-align: center;
    color: rgb(143, 143, 143);
    margin: 16px 0 4px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
