#appWrapper {
  height: 100%; 
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  min-width: 392px;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

#right {
  width: 100%;
}

.top-left {
  flex-shrink: 0;
  background-color: rgb(1, 1, 1);
  height: 60px;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  background-color: rgb(72, 84, 110);
  height: 60px;
}

.bottom-left {
  flex-shrink: 0;
  background-color: rgb(45, 45, 45);
}

.bottom-right {
  background-color: rgb(230, 229, 234);
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
  height: 100%;
}

#logo {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

#title {
  color: lightgrey;
  vertical-align: middle;
  cursor: default;
  margin-right: 20px;
}

#navigation a {
  display: block;
  color: rgb(91, 91, 91);
  padding: 10px 20px;
  text-decoration: none;
}

#navigation a:hover {
  background-color: rgb(72, 84, 110);
  color: rgb(195, 203, 220);
}
